<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li role="presentation" class="btn btn-default dropdown-toggle" dropdown [dropdownToggle]="false" (onOpen)="doSomeActionOnOpen()" (onClose)="doSomeActionOnClose()">
            <button class="btn" dropdown-open>All Campaigns </button>
            <ul class="dropdown-menu">
                <li *ngFor="let campaign of campaigns"><a><span>{{campaign.campaignName}}</span></a></li>
            </ul>
        </li>
        <li class="btn">
            <span class="glyphicon glyphicon-list"></span>
          pending
        </li>
      </ul>
      <form class="nav navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="btn  danger">
          <span class="glyphicon glyphicon-calendar"></span>
          date
        </li>
      </ul>
    </div>
  </div>
</nav>

<div>
  <ul class="list-group card-container">
    <li>
      <div class="panel panel-default">
        <div class="row">
          <img src="..." alt="...">
        </div>
        <div class="row">
        <h5>

        </h5>
        <div class="col-sm-4">
          ss
        </div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
        ss
        </div>

        </div>
        <div class="row">
          <div class="col-sm-8">
            <div class="row progress small-row-progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              </div>
            </div>
        </div>
      </div>
    </div>
    </li>
    <li>
    <span class="glyphicon  glyphicon-plus-sign"></span>
      Create  a Service Card
    </li>
  </ul>
  <p>{{filters[0]}}</p>
